/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.8em;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-oedp {
    border-radius: 0;
    color: #fff;
    background-color: #ec971f;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Positions */

.positions {
    padding: 50px 0;
}

.position-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Engagement */

.engagement {
    padding: 50px 0;
}

.engagement-item {
    margin-bottom: 30px;
}

.img-engagement {
    margin: 0 auto;
}

.img-engagement:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/*disable custom maps scrolling behaviour*/
.scrolloff {
    pointer-events: none;
}

/* Footer */

footer {
    padding: 100px 0;
}



/* Text over Engagement images */
.hoverwrap {
    position: relative;
    max-width: 500px; /* OPTIONAL */
    margin: 0 auto;
}

/* .hoverwrap img { width: 100%; } */
  
  /* (C) CAPTION */
.hovercap {
    
    /* box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;
    
    position: absolute;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white; */
    
    /* (C1) DIMENSIONS */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* (C2) POSITION */
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 30%;
    /* (C3) COLORS */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
  
  /* (D) SHOW/HIDE */
.hovercap {
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.hoverwrap:hover .hovercap {
    visibility: visible;
    opacity: 1;
}



/* Navigation */

nav a { font-weight: normal; }
nav { background-color: #ec7404; font-size: large; }
nav ul { padding-bottom: 0.5em; padding-top: 0.5em; }
nav a { color: white; }
nav li:before { content: ""; margin-left: 0; }
#nav-toggle { display: none; }
@media (min-width: 40em) {
  nav a:hover { }
  #nav-toggle { display: none; }
  .social-media label { display: none; }
  nav ul { display: block; margin: 0; }
  nav li { display: inline; }
  nav li:not(:last-child):after { content: "         "; }
  .hamburger { display: none; }
}
@media not screen and (min-width: 40em) {
  #nav-toggle { opacity: 0; position: absolute; }
  nav { max-height: 0; visibility: hidden; margin: 0; transition: all .15s; text-align: left; }
  nav ul { margin-bottom: 0; }
  nav li { display: block; margin-left: -1em; }
  nav a { display: block; padding: 0.7em; }
  nav { width: 100%; clear: both; }
  input:checked ~ nav { max-height: 200vh; visibility: visible; }
  .hamburger { position: absolute; top: 0; right: 0; z-index: 1; }
}
