<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Du hast Anregungen oder Wünsche für die Kandidatur? Schreib mir!</h3>
        <a href="/kontakt" class="btn btn-lg btn-dark">Kontakt</a>
      </div>
    </div>
  </div>
</aside>
