<section id="#" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-vertical-center">
        <h1>Engagement</h1>
        <h3>Alles, was mich antreibt.</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Aktivismus" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Aktivismus</h2>
        <hr>
        <p>
          Seit Frühling 2019 engagiere ich mich bei <a href="https://www.fff-augsburg.de/">Fridays for Future</a> (FFF) und Students for Future in Augsburg. Außerdem bei Aktionen der <a href="https://parentsforfuture.de/de/augsburg">Parents for Future</a>, bei Extinction Rebellion oder auch bei anderen Initiativen. Seit Beginn am 01.07.2020 auch im <a href="https://klimacamp-augsburg.de/">Klimacamp</a>.

          Ich beschäfige mich viel mit Kommunalpolitik; führe Gespräche mit Interessierten; organisiere Demonstrationen und Aktionen und war Mitbegründer von Augsburg Handelt, sowie Mitinitiator des <a href="https://www.fahrradstadt-jetzt.de/">Radentscheids</a>.
        </p>
        <p>
          Abseits von meinen Tätigkeiten für FFF und fürs Klimacamp, habe ich mich dazu entschieden nun für die Bundestagswahl zu kandidieren. Die ÖDP hat uns in der Klimagerechtigkeitsbewegung dafür den Platz als Direktkandidat im Wahlkreis Augsburg-Stadt überlassen. Ich kandidiere hierbei nicht für die Partei, sondern vertrete meine eigenen Positionen als Klimaaktivist, sehe mich aber auch in den Positionen der ÖDP gut vertreten.
        </p>
        <p>
          Meine Kandidatur ist unabhängig von jeglichen Klimagerechtigkeitsgruppen aus Augsburg, wie dem Klimacamp oder FFF. Mit dem Wahlantritt repräsentiere ich auch nicht das Klimacamp, denn ich bin weder offizieller Chef noch Vorsitzender des Camps. Mit meiner Kanditatur leiste ich meinen eigenen Beitrag zur Klimagerechtigkeitsbewegung unabhängig von einer Gruppe als Privatperson. Dennoch ist es mein Ziel die Wünsche und Anregungen der Bewegung bestmöglich in die Politik zu tragen.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Hintergrund" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Hintergrund</h2>
        <hr>
        <p>
          Seit mehr als zwei Jahren engagiere ich mich aktivistisch für Klimagerechtigkeit und viele dazugehörige Themen. Dabei geht es nicht nur um das heißer werdende Klima, das heute schon viele Leben kostet und uns in Zukunft in jetzt noch vermeidbare Katastrophen stürzen wird, oder die rasant aussterbenden Tierarten und unter anderem die dadurch ins Wanken geratende Verfügbarkeit von Nahrung. Sondern es geht vor allem um eine weitsichtige und rücksichtsvolle Umsetzung, von der vor allem die ärmsten unserer Gesellschaft profitieren werden. Es schmerzt mir im Herzen, dass unsere Regierung bis heute Klimaschutz auf Kosten ärmerer Menschen betreibt.
        </p>
        <p>
          Als gebürtiger Augsburger wird Augsburg für mich immer an erster Stelle stehen – Augsburg, Bayern und Deutschland müssen ihr Potenzial anerkennen und erneut Vorbilder für alle anderen sein. Das fängt an bei Verantwortung in der Klimapolitik und ihren vielen verwandten Themen:
        </p>
        <p>
          Der Verkehr in unseren Stadtzentren muss für alle da sein, ob zu Fuß, auf dem Rad oder im ÖPNV. Wenn diese schnell, günstig und komfortabel sind, profitieren auch die, die auf ihr Auto angewiesen sind.
        </p>
        <p>
          Unser Strom darf nicht weiter auf der Lüge basieren, Kohlestrom sei billiger als Wind- oder Solarkraft. Das ist jetzt nicht so und das ist schon lange nicht mehr der Fall.
        </p>
        <p>
          Es gibt aber auch viele andere Themen, die weitgehend nichts mit Klima zu tun haben. Durch meinen Hintergrund und meine Fähigkeiten brenne ich vor allem für die psychische und körperliche Entwicklung und Gesundheit aller Menschen jeder Altersgruppe.
        </p>
        <p>
          Bildung und Digitalisierung, in Kombination und einzeln, dürfen nicht weiter aufgeschoben werden. Als Stadtkind einer nicht akademischen Bauern- und Arbeiterfamilie konnte ich aus erster Hand erleben, welche Perspektiven und welche Möglichkeiten unsere Kinder und Jugendlichen brauchen. Aktuell studiere ich Mathematik mit Nebenfach Informatik und arbeite häufig ehrenamtlich als Uni-Übungsleiter, Nachhilfelehrer oder Trainer.
        </p>
        <p>
          Sport und Erholung sind als Grundbedürfnis überall und für alle zugänglich zu fördern. Dazu gehören zum Beispiel Sportstätten und -flächen, Spielplätze, Grünanlagen, gemeinschaftliche Flächen und auch speziellere Bedürfnisse. Die Angebote müssen immer der Nachfrage voraus sein. Seit mehr als elf Jahren trainiere ich in der offenen und kostenfreien Gruppe Parkour-Augsburg Menschen jeder Altersgruppe, am häufigsten aber Jugendliche. Dabei erlebe ich die Herausforderungen freier, spontaner und vereinsloser sportlicher Betätigung.
        </p>
        <p>
          Ehrenamtlicher Einsatz muss von der Regierung stärker unterstützt werden. Finanzielle, materielle oder bürokratische Hürden dürfen diesem unentbehrbaren Engagement nicht im Weg stehen. In meiner Jugend wurde ich von ehrenamtlichen Menschen zum Rettungsschwimmer und Sanitäter ausgebildet und konnte dadurch auch meinen Beitrag leisten. Wer schon einmal im Ehrenamt tätig war, weiß, wie viel Energie und Zeit in vermeidbaren finanziellen und ähnlichen Problemen verloren geht.
        </p>
        <p>
          Integrationsangebote und die nötigen Finanzen und Personalstellen müssen ausgebaut werden. Eine ernsthafte Integrationspolitik ist angesichts Deutschlands und Europas Geschichte und der Rolle Deutschlands in der EU und der Welt eigentlich selbstverständlich. Doch auch hier scheitern wir in den letzten Jahren als Land nicht am Willen und an den Menschen, die helfen wollen und können, sondern an den bereitgestellten Mitteln. Ich hatte das Glück, vor 20 Jahren in einem Stadtteil Augsburgs mit vielen anderen Kindern verschiedener Herkunft aufzuwachsen. In meiner großen Verwandtschaft, die fast vollständig aus ihrer Heimat nach Deutschland geflohen ist, wurde ich als erstes Kind in Deutschland geboren. In meiner Gegend und in meiner Verwandtschaft gab es trotz widriger Umstände immer nur den Wunsch, in unserer neuen Heimat aufgenommen zu werden. Diesen Wunsch möchte ich allen Menschen erfüllen, so wie er uns allen damals erfüllt wurde.
        </p>
        <p>
          Transparenz, Information und Teilhabemöglichkeiten wurden in den letzten Jahren vernachlässigt. Die Nebentätigkeiten und Bestechungsgelder unserer Politiker*innen bleiben weiter geheim. Politik ist auf allen Ebenen oft unzugänglich und undurchsichtig. In einfacher Sprache oder in mehreren Sprachen sind Informationen oft nicht vorhanden. Politikverdrossenheit wird gefördert durch fehlende Teilhabe außerhalb von Wahlen. Ein effektives, transparentes Lobbyregister wird schon zu lange blockiert und Unterlagen werden auf Anfrage oft unrechtmäßig verweigert.
        </p>
        <p>
          Für mich ist klar: Uns als Gesellschaft geht es nur so gut, wie unseren ärmsten und schwächsten Mitgliedern. Unterstützung, Sicherheit und Möglichkeiten müssen für alle jederzeit zur Verfügung stehen – das ist der mindeste Anspruch den wir an eine erwachsene Regierung haben müssen.
        </p>

        <p>
          Meine liebsten unpolitischen Freizeitaktivitäten? Parkour Training, Mathe und Programmieren, Bild- und Videobearbeitung, Videospiele oder meine Sprachkenntnisse erweitern.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Oedp" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Zur ÖDP</h2>
        <hr>
        <p>
          Als parteiloser Klimagerechtigkeitsaktivist prangere ich ganz unabhängig und unparteiisch Missstände in unserer Politik an. Anders als die Grünen, versteht die ÖDP, dass das Klima nur effektiv geschützt werden kann, wenn wir das sozial gerecht machen – also nicht auf Kosten ärmerer Menschen – und das Märchen des ewigen Wachstums, allein orientiert an Geld und Profit, hinterfragen.
        </p>
        <p>
          Die ÖDP Augsburg tat sich bei uns immer wieder besonders als Partei hervor, indem sie schon lange Aktivismus und Bürger*innenbeteiligung in Augsburg unterstützte. Für die ÖDP als Bundestagskandidat anzutreten war deswegen die einzig richtige Wahl. Wir sind froh, dass die ÖDP Augsburg für die Bundestagswahl 2021 keinen alteingesessenen Parteipolitiker aufstellt. Sondern den Wähler*innen die Möglichkeit gibt, einen parteilosen, unbefangenen Aktivisten zu wählen, dessen politische Taten noch nie darauf ausgelegt waren, einen persönlichen Gewinn daraus zu ziehen.
        </p>
        <p>
          <a href="https://www.oedp.de/programm/bundestagswahlprogramm-2021">Hier geht es zum Bundestagswahlprogramm der ÖDP.</a>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Ziele" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Politische Ziele</h2>
        <hr>
        <p>
          Die neue Bundesregierung hat alle Möglichkeiten, nach Jahren der Vernachlässigung doch noch klimapolitische Verantwortung zu übernehmen und Deutschland auf sozial gerechte Art und Weise klimaneutral zu machen. Zugleich ist sie die letzte Bundesregierung mit dieser Möglichkeit -- wenn wieder vier Jahre lang nicht entsprechend lebenswerter Ziele gehandelt werden wird, wird es zu spät sein. Daher ist diese Bundestagswahl von herausragender Bedeutung.

          Für meine konkrete, einzelne politische Ziele, empfehle ich einen Blick auf die Kandidierenden-Checks, die auch ganz oben auf der Hauptseite schon verlinkt sind:
          <ul>
            <li>
              <a href="https://waehlbar2021.de/bewertungen-vergleichen/?district=252&amp;type=19&amp;search=&amp;voted=false">
                Zum Profil auf wählbar2021.de
              </a>
            </li>
            <li>
              <a href="https://www.abgeordnetenwatch.de/profile/alexander-mai">
                Zum Profil auf abgeordnetenwatch.de
              </a>
            </li>
            <li>
              <a href="https://www.wen-waehlen.de/btw21/kandidaten/44229-alexander-mai.html">
                Zum Profil auf wen-waehlen.de
              </a>
            </li>
          </ul>
        </p>

        <p>
          Für meine Zeit im Bundestag mache ich sehr gerne und mit Freude außerdem folgende Versprechen:
          <ul>
            <li>
              Mein Mathematik-Studium werde ich pausieren. Ich werde keine Nebentätigkeiten ausüben und mich auch in sonst keine anderen Verpflichtungen außerhalb meiner Tätigkeit im Bundestag begeben. Meine aktivistischen Organisationsaufgaben gebe ich vorerst ab an die vielen anderen tollen Aktivist*innen Augsburgs. In diesen vier Jahren haben die Bürger*innen Augsburgs und Deutschlands ganz klar Priorität.
            </li>
            <li>
              Als parlamentarischer Beobachter und als Teilnehmer unterstütze ich weiterhin Demonstrationen und friedliche Aktionen des zivilen Ungehorsams im Klimagerechtigkeits- und Antirassismusumfeld.
            </li>
            <li>
              Täglich wird es verständliche Videos zu meiner Arbeit und Antworten auf eure Fragen geben. Die Inhalte der Videos werden maßgeblich von euren Wünschen geprägt. Wöchentliche und monatliche Zusammenfassungen wird es auch geben. Diese und weitere Inhalte wird es auf einer übersichtlichen Website geben.
            </li>
            <li>
              Auf Expertise und Fachwissen für meine Politik und Entscheidungsfindung greife ich vorrangig zurück auf gemeinnützige Vereine, Verbindungen durch aktivistische Bewegungen und auf Expert*innen in ihrem Feld, statt auf Expert*innen im Beraten. Es zeigt sich ständig und wiederholt, dass nicht die teuren Berater*innen, sondern leidenschaftliche Expert*innen unser Vertrauen verdienen.
            </li>
            <li>
              Die mir zur Verfügung stehenden Mittel werde ich voll ausschöpfen, um die vorangegangenen Versprechen bestmöglich zu verwirklichen.- Mindestens 50% meines privaten Gehalts spende ich an wohltätige und gemeinnützige Zwecke.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
