<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>als parteiloser Klimaaktivist in den Bundestag</h2>
        <p class="lead">unterstützt von der ÖDP Augsburg</p>
        <p>Teile dieser Website vielleicht für immer in Arbeit (wie kleine Grafiken) :-)</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="Positionen" class="positions bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Positionen</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="position-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Klimagerechtigkeit</strong>
              </h4>
              <p>
                Deutschland hat einen gewaltigen historischen und aktuellen Einfluss auf die Klimakatastrophe. Wir beharren auf veralteten, ineffizienten Technologien wie Kohlestrom oder den uneingeschränkten motorisierten Individualverkehr. Dadurch riskieren wir jetzt schon Existenzen, Arbeitsplätze und eine lebenswerte Zukunft.
              </p>
              <p>
                Die Klimakrise können wir nur bewältigen, wenn wir Klimaschutz und soziale Gerechtigkeit verbinden. Die Regierung muss hier die Rahmenbedingungen stellen. Damit klimafreundlich leben nicht zur Last wird, sondern zum einfachen Alltag.
              </p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="position-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-compass fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Transparenz und Lobbyismus</strong>
              </h4>
              <p>
                Unser Land leidet unter dem großen Einfluss von Profitlobbyist*innen und Parteien, die sich immer weiter von den Menschen entfernen.
              </p>
              <p>
                Korruption hat Programm und wird nicht ausreichend verfolgt. Milliarden an Steuergeldern versinken in gescheiterten Projekten, wandern über zwielichtige Wege an Lobbyvereine oder in die Tasche von Regierungspolitiker*innen.
              </p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="position-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flask fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Demokratie</strong>
              </h4>
              <p>
                Wir brauchen jetzt dringender denn je eine echte Demokratiewende – für mehr Transparenz, weniger Lobbyismus und vor allem für eine echte Teilhabe aller Bürger*innen und eine Politik für arme Menschen! Denn unsere Demokratie ist nur so stark, wie die schwächsten unserer Gesellschaft.
              </p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- <aside class="callout">
  <div class="text-vertical-center">
    <h1></h1>
  </div>
</aside> -->

<section id="Engagement" class="engagement">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Engagement</h2>
        <hr class="small">
        <!--
        <h3> Ich bin Alex Mai und engagiere mich seit Frühling 2019 bei Fridays/Students for future und seit letztem Jahr im Klimacamp. 
          Ich beschäfige mich viel mit Kommunalpolitik; führe Gespräche mit Interessierten; organisiere Demonstrationen und Aktionen und war Mitbegründer von Augsburg Handelt, sowie Mitinitiator des Radentscheids.
          Abseits von meinen Tätigkeiten für FFF und fürs Klimacamp, habe ich mich dazu entschieden nun für die Bundestagswahl zu kandidieren. Die ÖDP hat mir freundlicherweise ihren Listenplatz überlassen. Ich kandidiere hierbei nicht für die Partei, sondern vertrete meine eigenen Positionen als Klimaaktivist.
          Meine Kandidatur ist unabhängig von jeglichen Klimagerechtigkeitsgruppen aus Augsburg wie dem Klimacamp oder FFF. Mit dem Wahlantritt repräsentiere ich auch nicht das Klimacamp, denn ich bin weder offizieller Chef noch Vorsitzender des Camps. Mit meiner Kanditatur leiste ich meinen eigenen Beitrag zur Klimagerechtigkeitsbewegung unabhängig von einer Gruppe als Privatperson. Dennoch ist es mein Ziel die Wünsche und Anregungen der Bewegung bestmöglich in die Politik zu tragen.
          
          Neben meinem politischen Engagement studiere ich Mathematik und betreibe Jugendförderung in einer Parkourgruppe und im Mathecamp.Ich bin Alex Mai und engagiere mich seit Frühling 2019 bei Fridays/Students for future und seit letztem Jahr im Klimacamp. 
          Ich beschäfige mich viel mit Kommunalpolitik; führe Gespräche mit Interessierten; organisiere Demonstrationen und Aktionen und war Mitbegründer von Augsburg Handelt, sowie Mitinitiator des Radentscheids.
          Abseits von meinen Tätigkeiten für FFF und fürs Klimacamp, habe ich mich dazu entschieden nun für die Bundestagswahl zu kandidieren. Die ÖDP hat mir freundlicherweise ihren Listenplatz überlassen. Ich kandidiere hierbei nicht für die Partei, sondern vertrete meine eigenen Positionen als Klimaaktivist.
          Meine Kandidatur ist unabhängig von jeglichen Klimagerechtigkeitsgruppen aus Augsburg wie dem Klimacamp oder FFF. Mit dem Wahlantritt repräsentiere ich auch nicht das Klimacamp, denn ich bin weder offizieller Chef noch Vorsitzender des Camps. Mit meiner Kanditatur leiste ich meinen eigenen Beitrag zur Klimagerechtigkeitsbewegung unabhängig von einer Gruppe als Privatperson. Dennoch ist es mein Ziel die Wünsche und Anregungen der Bewegung bestmöglich in die Politik zu tragen.
          
          Neben meinem politischen Engagement studiere ich Mathematik und betreibe Jugendförderung in einer Parkourgruppe und im Mathecamp. </h3>
        -->
        <!-- <p>Das hierunter sind Platzhalterbilder :-)</p> -->
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="engagement-item">
              <a href="/engagement#Aktivismus">
                <div class="hoverwrap">
                  <img class="img-engagement img-responsive" src="img/engagement-1.jpg">
                  <div class="hovercap"><h2>Aktivismus</h2></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="engagement-item">
              <a href="/engagement#Hintergrund">
                <div class="hoverwrap">
                  <img class="img-engagement img-responsive" src="img/engagement-2.jpg">
                  <div class="hovercap"><h2>Hintergrund</h2></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="engagement-item">
              <a href="/engagement#Oedp">
                <div class="hoverwrap">
                  <img class="img-engagement img-responsive" src="img/engagement-3.jpg">
                  <div class="hovercap"><h2>zur ÖDP</h2></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="engagement-item">
              <a href="/engagement#Ziele">
                <div class="hoverwrap">
                  <img class="img-engagement img-responsive" src="img/engagement-4.jpg">
                  <div class="hovercap"><h2>Politische Ziele</h2></div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">Hier ist in wenigen Tagen mehr zu sehen...</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
