<section id="#" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-vertical-center">
        <h1>Kontakt</h1>
        <h3>Ich freue mich auf gute Diskussionen!</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Anschrift</h2>
        <hr>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Direkt an mich</h2>
        <hr>
        <p>
          Handy: <a href="tel:+491626696097">{{ site.telephone }}</a><br>
          Mail: <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
          <strong>oder öffentlich! <a href="https://www.abgeordnetenwatch.de/profile/alexander-mai" class="btn btn-dark btn-lg">über abgeordnetenwatch.de</a></strong>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Quelltext</h2>
        <hr>
        <p>
          Der Quelltext dieser Seite liegt auf <a
          href="https://gitlab.com/iblech/mdb-website">GitLab</a>. Änderungsvorschläge
          sind willkommen!
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

</div>
</div>
