<section id="#" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-vertical-center">
        <h1>Medien</h1>
        <h3>von und mit mir</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<section id="Aktivismus" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          Alle Augsburger Kandidierenden in der <a href="https://www.augsburger-allgemeine.de/augsburg/Bundestagswahl-2021-Kandidaten-im-Wahlkreis-Augsburg-Stadt-Wofuer-stehen-sie-id60460606.html">AZ-Wahlbox (Augsburger Allgemeine)</a>, mit sehr kurzen Antworten zu sehr wenigen Fragen.
        </p>
        <p>
          Ich und einige andere Kandidierende in der <a href="https://www.youtube.com/watch?v=jvCwTNLKHw8">Wahlweise Kolping</a>, mit ausführlicheren Antworten zu Fragen wie Wohnen, Rente, Klima und internationaler Politik.
        </p>
        <p>Der <a href="https://www.youtube.com/watch?v=_5fg9G-_jJA&list=PLo149GNLBLWAoEke_Se4u5c8VihKL1OmN">Klimacamp Adventskalender</a> und der <a href="https://www.youtube.com/watch?v=BdUBZEoE2SI&list=PLo149GNLBLWCSd9BbrIBS3sjvs3NxbfzV">Klimacamp Podcast</a></p>
        <p>
          <a href="https://www.youtube.com/watch?v=R4koiaLbpO0">100 Tage Klimacamp von Channel Welcome</a>, mit mir im Interview.
        </p>
        <p>
          Weitere Einträge demnächst...
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>