<label for="nav-toggle" class="hamburger"><img src="/img/hamburger.svg" class="btn btn-oedp btn-lg"></label>
<input type="checkbox" id="nav-toggle">
<nav>
  <ul>
    <li><a href="/">Start</a></li>
    <li><a href="/positionen">Positionen</a></li>
    <li><a href="/engagement">Engagement</a></li>
    <li><a href="/medien">Medien</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
</nav>
