<section id="#" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-vertical-center">
        <h1>Positionen</h1>
        <h3>Wofür ich einstehe.</h3>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Allerlei" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Allerlei</h2>
        <hr>
        <p>
          Meine Positionen zu vielen einzelnen Themen lassen sich sehr gut im ausführlichen Fragenkatalog von wen-waehlen.de und im Kandidierenden-Check von abgeordnetenwatch.de nachsehen.

          <ul>
            <li>
              <a href="https://www.wen-waehlen.de/btw21/kandidaten/44229-alexander-mai.html">
                Zum Profil auf wen-waehlen.de
              </a>
            </li>
            <li>
              <a href="https://www.abgeordnetenwatch.de/profile/alexander-mai">
                Zum Profil auf abgeordnetenwatch.de
              </a>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Klimagerechtigkeit" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Klimagerechtigkeit</h2>
        <hr>
        <p>
          Deutschland hat einen gewaltigen historischen und aktuellen Einfluss auf die Klimakatastrophe. Wir beharren auf veralteten, ineffizienten Technologien wie Kohlestrom oder den uneingeschränkten motorisierten Individualverkehr. Dadurch riskieren wir jetzt schon Existenzen, Arbeitsplätze und eine lebenswerte Zukunft.
        </p>
        <p>
          Die Klimakrise können wir nur bewältigen, wenn wir Klimaschutz und soziale Gerechtigkeit verbinden. Die Regierung muss hier die Rahmenbedingungen stellen. Damit klimafreundlich leben nicht zur Last wird, sondern zum einfachen Alltag.
        </p>
        <p>
          Klimaschutz wird von Bremsern der Klimapolitik oft als "Gemeinschaftsprojekt" bezeichnet. Aber keine einzelne Person kann ein Kohlekraftwerk abschalten. Nachweislich steckt hinter unserer lahmen Klimapolitik oft großes Geld.
        </p>
        <p>
          Klimaschutz muss immer sozial gerecht und auch international gerecht gedacht werden.
        </p>
        <p>
          Wir leben in einem reichen und industrialisierten Land. Die Klimakatastrophe darf deshalb nicht einfach auf andere Länder abgeschoben werden. Als Zentrum Europas und der EU haben wir in Deutschland große Verantwortung. Wir rauben anderen Ländern ihre Rohstoffe, ihr Wasser, ihren Strom, ihre Arbeitskraft. Stattdessen sollten wir auf Regionalität und auch Souveränität setzen.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Transparenz" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Transparenz und Lobbyismus</h2>
        <hr>
        <p>
          Unser Land leidet unter dem großen Einfluss von Profitlobbyist*innen und Parteien, die sich immer weiter von den Menschen entfernen.
        </p>
        <p>
          Korruption hat Programm und wird nicht ausreichend verfolgt. Milliarden an Steuergeldern versinken in gescheiterten Projekten, wandern über zwielichtige Wege an Lobbyvereine oder in die Tasche von Regierungspolitiker*innen.
        </p>
        <p>
          Intitiativen wie <a href="https://www.lobbycontrol.de/">Lobbycontrol</a> oder <a href="https://www.abgeordnetenwatch.de/">abgeordnetenwatch</a> zeigen die Abgründe unserer Regierung auf. Dagegen helfen starke Transparenzgesetze, die die Parteien zum beispiel dazu verpflichten würden, ihre Spendengelder und Ausgaben offenzulegen. Im <a href="https://www.abgeordnetenwatch.de/transparenz-versprechen-zur-bundestagswahl-2021">Transparenz-Versprechen</a> von abgeordnetenwatch stimme ich deswegen allen Punkten uneingeschränkt zu.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<section id="Oedp" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Demokratie</h2>
        <hr>
        <p>
          Wir brauchen jetzt dringender denn je eine echte Demokratiewende – für mehr Transparenz, weniger Lobbyismus und vor allem für eine echte Teilhabe aller Bürger*innen und eine Politik für arme Menschen! Denn unsere Demokratie ist nur so stark, wie die schwächsten unserer Gesellschaft.
        </p>
        <p>
          Parteispielchen und Fraktionszwänge unterwandern schon seit Jahren die Seriösität unserer Parlamente. Als parteiloser Aktivist stehe ich deswegen für eine authentische und ehrliche Politik. Nicht nur gebunden an mein Gewissen oder an eine Parteilinie, sondern an meine Verpflichtung gegenüber meinen aktivistischen Wurzeln, selbstlos und im Sinne einer lebenswerten Zukunft zu handeln.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
