<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

<body>

  {% include navigation.html %}
  <!-- {% include header.html %} -->
  {% include positionen.html %}
  {% include call-to-action.html %}
  {% include footer.html %}
  {% include scripts.html %}

  <img src="https://www.speicherleck.de/alex-mai-positionen.png" style="width: 2px; height: 2px">
  
</body>

</html>
